<div class="uk-container uk-margin-top">
  <div uk-grid>
    <div class="uk-width-auto">
      <legend class="uk-legend"><%=t(:photos_mural)%> <%=@mural.to_label%></legend>
    </div>
    <div class="uk-width-expand">
      <div class="uk-float-right">
        <%= link_to t(:new), new_mural_photo_path(params[:mural_id]), class: 'uk-button uk-button-primary'  if current_user_is_admin %>
      </div>
    </div>
  </div>

  <%= render 'photos/photos' %>
</div>